@import '../../style/theme.scss';
@import '../../style/mediaQueries.scss';

.jokeList {
    display: flex;
    width: 100%;
    height: 100%;

    .jokeList-sidebar {
        align-items: center;
        background: $color-primary;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        -webkit-box-shadow: $box-Shadow-md;
        -moz-box-shadow: $box-Shadow-md;
        box-shadow: $box-Shadow-md;
        position: relative;
        width: 32%;
        z-index: 2;

        .overlay {
            border-radius: 8px;
            position: absolute;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0;
            mix-blend-mode: multiply;            
            background-image: url("/assets/background.jpg");
            background-size: cover;
            opacity: 0.3;
            z-index: 0;
        }

        .version {
            position: absolute;
            bottom: 3px;
            right: 0;
            width: 100%;
            height: 30px;
            text-align: right;
            padding-right: 1rem;
            z-index: 1;

            span {
                font-size: 0.75rem;
                color: $version-TitleColor;
            }

        }

       .wrapper {
           z-index: 1;

            .title {
                color: $color-white;
                font-family: $font-family;
                font-size: $title-size;
                font-weight: 300;
                letter-spacing: 0.3px;
                margin: 2rem;
                z-index: 1;
                
                span {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    letter-spacing: 0;
                }

            }

            img {
                border-radius: 50%;
                -webkit-box-shadow: $box-Shadow-lg;
                -moz-box-shadow: $box-Shadow-lg;
                box-shadow: $box-Shadow-lg;
                margin-bottom: 2rem;
                width: 30%;
                z-index: 1;

                &:hover {
                    animation: $hinge-anim;
                    cursor: pointer;
                }

            }

       }
                
        .getMoreBtn {
            border: 1px solid rgb(139, 139, 139);
            border-radius: 8px;
            color: $color-white;
            background: linear-gradient( 
                139deg, 
                $gradientA_Normal 0%, 
                $gradientA_Normal 50%, 
                $gradientB_Normal 50%, 
                $gradientB_Normal 100% 
            );
            font-family: $font-family;
            font-size: 1.32rem;
            padding: 0.75rem 2rem;
            -webkit-text-shadow: $text-Shadow;
            -moz-text-shadow: $text-Shadow;
            text-shadow: $text-Shadow;
            -webkit-box-shadow: $box-Shadow-lt;
            -moz-box-shadow: $box-Shadow-lt;
            box-shadow: $box-Shadow-lt;
            width: 45%;
            z-index: 1;

            &:hover {
                cursor: pointer;
                background: linear-gradient( 
                    139deg, 
                    $gradientA_Light 0%, 
                    $gradientA_Light 50%, 
                    $gradientB_Light 50%, 
                    $gradientB_Light 100% 
                );
            }
            
            &:active {
                cursor: pointer;
                background: linear-gradient( 
                    139deg, 
                    $gradientA_Dark 0%, 
                    $gradientA_Dark 50%, 
                    $gradientB_Dark 50%, 
                    $gradientB_Dark 100% 
                );
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }

        }

    }

    .jokeList-column {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;

        .jokeList-jokes {
            background-color: $color-white;
            border-top-right-radius: $border-Radius;
            border-bottom-right-radius: $border-Radius;
            height: 87%;
            margin-top: 2rem;
            overflow-y: scroll;
            -webkit-box-shadow: $box-Shadow-lg;
            -moz-box-shadow: $box-Shadow-lg;
            box-shadow: $box-Shadow-lg;
            width: 0%;
            transition: width 0.8s ease-out;
        }

        .errorMessage {
            position: absolute;
            top: 20%;
            left: 3%;

            h2 {
                color: $error-Color;
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }
            span {
                color: lighten($error-Color, 20%);
            }

        }

    }

}

.displayJokes {
    width: 100% !important;
}


@include media(">phone", "<desktop") {

    .jokeList {
        display: block;

        .jokeList-sidebar {
            flex-direction: row; 
            justify-content: space-around;
            width: 100%;

            .wrapper {

                .title {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

            }

            .getMoreBtn {
                font-size: 1rem;
                margin-right: 1rem;
            }

        }
        
    }

}