@import '../../style/theme.scss';

.joke {
    display: flex;
    border-bottom: 2px solid #eeeeee;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 1rem;
    opacity: 0;
    transition: all 0.6s ease-in;

    &:hover {
        background-color: rgb(235, 235, 235);
    }
}

.jokeButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.jokeVotes {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    border: 3px solid transparent;
    text-align: center;
    font-size: $standardFontSize;
    font-weight: 300;
    -webkit-box-shadow: $box-Shadow-lg;
    -moz-box-shadow: $box-Shadow-lg;
    box-shadow: $box-Shadow-lg;
}

.jokeText {
    width: 75%;
    font-size: $standardFontSize;
}

.arrowIcon {
    font-size: $standardFontSize;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.jokeEmoji {
    font-size: 2.5rem;
    margin-left: auto;
    border-radius: 50px;
    -webkit-box-shadow: $box-Shadow-lg;
    -moz-box-shadow: $box-Shadow-lg;
    box-shadow: $box-Shadow-lg;
}

.jokeEmoji:hover {
    animation: $hinge-anim;
}

.arrowUp:hover {
    animation: move-up;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}
.arrowDown:hover {
    animation: move-down;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

.visible {    
    opacity: 1;
}