
/* Theme settings */

// Colors
$color-primary: #9575cd;
$color-gradientA: rgba(179, 229, 252, 1);
$color-gradientB: rgba(240, 98, 146, 1);

$color-shadow: rgba(0,0,0,0.3);
$color-TextShadow: rgba(0,0,0,0.9);
$color-white: whitesmoke;
$error-Color: red;
$version-TitleColor: lighten( $color-primary, 20% );

// Gradients
$gradientA_Normal: $color-gradientA;
$gradientA_Light: lighten( $color-gradientA, 4% );
$gradientA_Dark: darken( $color-gradientA, 28% );

$gradientB_Normal: $color-gradientB;
$gradientB_Light: lighten( $color-gradientB, 4% );
$gradientB_Dark: darken( $color-gradientB, 28% );

// Animations
$shake-anim: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
$hinge-anim: hinge 0.7s ease-in-out;

// Borders
$border-Radius: 10px;

// Box shadows
$box-Shadow-lg: 0 19px 38px $color-shadow;
$box-Shadow-md: 9px 9px 23px $color-shadow;
$box-Shadow-lt: 0 7px 19px $color-shadow;
$text-Shadow: 0 3px 8px $color-TextShadow;

// Fonts
$standardFontSize: 1.2rem;
$font-family: "Rubik", sans-serif;
$title-size: 3rem;