@import './style/theme.scss';
@import './style/mediaQueries.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: $font-family;
  color: #78909c;
  overflow: hidden;
  background: linear-gradient(139deg, #ffffff 0%, #b3e5fc 50%, #f06292 50%, #f08962 100%)
  // background: linear-gradient(
  //   139deg,
  //   $color-gradientA 0%,
  //   $color-gradientA 50%,
  //   $color-gradientB 50%,
  //   $color-gradientB 100%
  // )
}

.container {
  width: 80%;
  height: 80%;
}

footer {
  width: 80%;
  height: 10%;
  text-align: right;
  position: absolute;
  bottom: 0;

  span {
    color: $color-white;
    font-size: 0.8rem;
  }
}

* {
  outline: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

::-webkit-scrollbar {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 10px;
  background:rgb(228, 228, 228);
}

::-webkit-scrollbar-thumb {
  background:$color-primary;
  border-radius: 5px;
}

.spinner {
  color: whitesmoke;
  text-align: center;

  .loadText {  
    font-size: 1.42rem;
    margin: 1.3rem;
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 0.6rem;
    -webkit-text-shadow: 0 19px 38px rgba(0,0,0,0.9);
    -moz-text-shadow: 0 19px 38px rgba(0,0,0,0.9);
    text-shadow: 0 19px 38px rgba(0,0,0,0.9);
  }

}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-3px);
  }
}

@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(3px);
  }
}

@keyframes hinge {
  
  0%{
    transform: rotate(0deg);
  }
  30%{
    transform: rotate(20deg);
  }
  60%{
    transform: rotate(0deg);
  }
  80%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


@include media(">phone", "<desktop") {
  
  footer {
    width: 80%;
    height: 0%;
    text-align: right;
    position: absolute;
    bottom: -10%;
    transform: rotate(-90deg);
    right: -33%;
  }

}
